# =======================================================
# Variables d'Environnement - Frontend Vite/React
# =======================================================

# URL racine de l'API Backend
# En local :
VITE_API_URL=http://127.0.0.1:8000/api/v1

# En production sur Render (remplacez par votre URL de backend Render) :
# VITE_API_URL=https://master-info-backend.onrender.com/api/v1
